.sticky-container {
    position: fixed;
    right: -126px;
    top: 180px;
    width: 200px;
}
.sticky li {
    list-style: none;
    background-color: #333;
    color: #b2b2b2;
    height: 36px;
    margin: 0px 0px 3px 0px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'saturate\' values=\'0.5\'/></filter></svg>#grayscale");
    filter: gray alpha(opacity=50);
    -webkit-filter: grayscale(50%);
}
.sticky li:hover {
    margin-left: -115px;
    filter: none;
    -webkit-filter: grayscale(0%);
}
.sticky li img {
    float: left;
    width: 36px;
    height: 36px;
    margin-right: 15px;
    padding: 2px;
}
.sticky li p {
    text-transform: uppercase;
    line-height: 36px;
}